In [28]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [30]:
data = pd.read_csv(r"C:\Users\16341\Desktop\data glacier\week4\project\airfare.txt", sep='\t')
data

    City  Fare  Distance
0      1   360      1463
1      2   360      1448
2      3   207       681
3      4   111       270
4      5    93       190
5      6   141       393
6      7   291      1102
7      8   183       578
8      9   309      1204
9     10   300      1138
10    11    90       184
11    12   162       502
12    13   477      1828
13    14    84       179
14    15   231       818
15    16    54        90
16    17   429      1813

In [31]:
x = data['Distance']
y = data['Fare']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [32]:
x_train = np.array([x_train]).reshape(-1,1)

In [33]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [34]:
x_test

8     1204
9     1138
14     818
6     1102
3      270
Name: Distance, dtype: int64

In [35]:
y_pred = model.predict(np.array([x_test]).reshape(-1,1))

In [36]:
y_test

8     309
9     300
14    231
6     291
3     111
Name: Fare, dtype: int64

In [37]:
r2_score(y_test, y_pred)

0.998618843151839

In [38]:
with open('model.pkl','wb') as files:
    pickle.dump(model, files)

In [39]:
%run main.py